# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Data / results (uncomment if you want to ignore)
# Data/
# Results/

# Git LFS attributes
.gitattributes
